@import "./_utils.scss";
@import "./utils/vars";
@import "./utils/mixins";
@import "./blocks/auth.scss";
@import "./blocks/chats-panel.scss";
@import "./blocks/chat.scss";
@import "./blocks/message.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,700;1,900&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    color: $c-dark-yellow;
}

body {
  margin: 0px;
  background: $c-blue;
  min-height: 100vh;
}

.App {
  text-align: center;
  display: block;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  position: relative;

  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $c-dark-blue;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $c-dark-yellow;
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $c-yellow;
  }
}

.home {
  display: flex;
}

.input {
  display: flex;
  border-radius: 20px;
  height: 50px;
  border-radius: 30px;
  box-sizing: border-box;
  font-size: 25px;
  color: $c-yellow;
  padding: 0 10px;
  margin-bottom: 10px;
  outline: none;
  border: 5px solid $c-dark-yellow;
  background-color: transparent;
  transition: all 0.1s ease;

  &:hover {
      border-color: $c-yellow;
  }

  &::placeholder {
      color: $c-dark-yellow;
  }

  &:focus {
      border: 2px solid $c-dark-yellow;
      color: $c-yellow;
      height: 50px;
      transform: scale(105%);
      background: $c-dark-blue;
  }
  
  @include onMobile() {
      font-size: 20px;
      height: 35px;
      border: 3px solid $c-dark-yellow;

      &:focus {
          border: none;
          color: $c-yellow;
          height: 36px;
          transform: scale(105%);
          background: $c-dark-blue;
      }
  }
}

.label {
  font-size: 25px;
  color: $c-dark-yellow;
  display: flex;
  flex-direction: column;
  text-align: left;

  &:hover {
      color: $c-yellow;
  }
}

.button {
  border: 5px solid $c-dark-yellow;
  border-radius: 30px;
  height: 60px;
  padding: 0 20px;
  font-size: 25px;
  color: $c-yellow;
  background: transparent;
  transition: all 0.1s ease, padding 0.2s ease;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;

  &:hover {
      transform: scale(105%);
      background: $c-yellow;
      color: $c-blue;
  }

  &:active {
      transform: scale(95%);
      background: $c-dark-blue;
      color: $c-blue;
      padding: 0 20px;
      border: none;
  }
  
  @include onMobile() {
      height: 45px;
      border-radius: 20px;
      font-size: 20px;
      width: max-content;
      border: 3px solid $c-dark-yellow;

      &:hover {
          transform: scale(115%);
          padding: 0 30px;
          background: $c-yellow;
          color: $c-blue;
      }
  }
}

.lottie-bg {
  position: absolute;
  z-index: -100;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  width: 100vw;
  height: 100vh;
}
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  